
<div class="container">
    <div class="row">
        <select>
            @foreach (var category in ViewBag.Category)
            {
                @foreach (var item in category.Value)
                {
                    <option>
                        @item
                    </option>
                }
            }
        </select>
    </div>
</div>
